.cell, .empty-cell {
	font-size: 10px;
	background-color: #ebedf0;
	border: 1px solid #dfe1e4;
	border-radius: 2px;
	padding: 4px;
	margin: 2px;
}
.empty-cell {
	background-color: #fff;
	border: none;
}
